In [41]:
import pandas as pd
import numpy as np

df = pd.read_csv('Consumo_cerveja.csv')

df.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900

In [42]:
df.isnull().sum()

Data                           576
Temperatura Media (C)          576
Temperatura Minima (C)         576
Temperatura Maxima (C)         576
Precipitacao (mm)              576
Final de Semana                576
Consumo de cerveja (litros)    576
dtype: int64

In [43]:
df.dropna(inplace=True)
df.isnull().sum()

Data                           0
Temperatura Media (C)          0
Temperatura Minima (C)         0
Temperatura Maxima (C)         0
Precipitacao (mm)              0
Final de Semana                0
Consumo de cerveja (litros)    0
dtype: int64

In [44]:
# Dont want Date column
df = df.iloc[:,1:]
df.head()

,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,"27,3","23,9","32,5",0,0.0,25.461
1,"27,02","24,5","33,5",0,0.0,28.972
2,"24,82","22,4","29,9",0,1.0,30.814
3,"23,98","21,5","28,6","1,2",1.0,29.799
4,"23,82",21,"28,3",0,0.0,28.900

In [45]:
df.dtypes

Temperatura Media (C)           object
Temperatura Minima (C)          object
Temperatura Maxima (C)          object
Precipitacao (mm)               object
Final de Semana                float64
Consumo de cerveja (litros)    float64
dtype: object

In [46]:
df.columns = ["Temp(med)", "Temp(min)", "Temp(Max)", "Rainfall(mm)", "weekend", "consumption"]
df.head()

  Temp(med) Temp(min) Temp(Max) Rainfall(mm)  weekend  consumption
0      27,3      23,9      32,5            0      0.0       25.461
1     27,02      24,5      33,5            0      0.0       28.972
2     24,82      22,4      29,9            0      1.0       30.814
3     23,98      21,5      28,6          1,2      1.0       29.799
4     23,82        21      28,3            0      0.0       28.900

In [47]:
df.iloc[:,:4].replace(',','.',inplace=True)
df.head()

  Temp(med) Temp(min) Temp(Max) Rainfall(mm)  weekend  consumption
0      27,3      23,9      32,5            0      0.0       25.461
1     27,02      24,5      33,5            0      0.0       28.972
2     24,82      22,4      29,9            0      1.0       30.814
3     23,98      21,5      28,6          1,2      1.0       29.799
4     23,82        21      28,3            0      0.0       28.900

In [48]:
# replace , with . in first four columns and convert it to float data type

for column_name in list(df)[:4]:
    df[column_name] = df[column_name].str.replace(',','.').astype(float)

In [51]:
df.dtypes

Temp(med)       float64
Temp(min)       float64
Temp(Max)       float64
Rainfall(mm)    float64
weekend         float64
consumption     float64
dtype: object

In [52]:
df.head()

   Temp(med)  Temp(min)  Temp(Max)  Rainfall(mm)  weekend  consumption
0      27.30       23.9       32.5           0.0      0.0       25.461
1      27.02       24.5       33.5           0.0      0.0       28.972
2      24.82       22.4       29.9           0.0      1.0       30.814
3      23.98       21.5       28.6           1.2      1.0       29.799
4      23.82       21.0       28.3           0.0      0.0       28.900

In [57]:
df['weekend'] = df['weekend'].astype('category')
df.dtypes

Temp(med)        float64
Temp(min)        float64
Temp(Max)        float64
Rainfall(mm)     float64
weekend         category
consumption      float64
dtype: object

In [60]:
X = df.iloc[:,:-1] # [Temp(med)	Temp(min),Temp(Max),Rainfall(mm),weekend]
y = df.iloc[:,-1]  # [consumption]

In [61]:
df.describe()

        Temp(med)   Temp(min)   Temp(Max)  Rainfall(mm)  consumption
count  365.000000  365.000000  365.000000    365.000000   365.000000
mean    21.226356   17.461370   26.611507      5.196712    25.401367
std      3.180108    2.826185    4.317366     12.417844     4.399143
min     12.900000   10.600000   14.500000      0.000000    14.343000
25%     19.020000   15.300000   23.800000      0.000000    22.008000
50%     21.380000   17.900000   26.900000      0.000000    24.867000
75%     23.280000   19.600000   29.400000      3.200000    28.631000
max     28.860000   24.500000   36.500000     94.800000    37.937000

In [70]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split as tts , cross_val_score , GridSearchCV
from sklearn.metrics import mean_squared_error , r2_score

In [131]:
# Our model need trin data for training and test data for testing.
# These train data and test data is generated from our actual data using train_test_split akka tts as follows
X_train,X_test,y_train,y_test = tts(X,y,random_state=596,test_size=0.3,) # test_size = divides data in to 70% test data and 30% test data

In [132]:
# instantiating KNN model
knn = KNeighborsRegressor()

In [133]:
# Training KNN model with Training data X_train , y_train
knn.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [134]:
# predict consumtion value for given single data
knn.predict(pd.DataFrame({'Temp(med)':[21.52],'Temp(min)':18.6,'Temp(Max)':27.4,'Rainfall(mm)':6.8,'weekend':0.0}))

array([30.2548])

In [135]:
# predict consumtion values for given test data
knn.predict(X_test)

array([21.3048, 27.6558, 26.636 , 29.4302, 22.5922, 29.1032, 26.6642,
       26.9   , 22.6146, 31.7416, 26.5568, 26.9264, 25.9468, 25.939 ,
       29.1798, 24.2274, 26.4118, 19.3724, 19.941 , 27.1718, 18.0484,
       29.0416, 25.0994, 25.5022, 29.1472, 18.1242, 24.0492, 24.805 ,
       22.6544, 29.2294, 26.5978, 23.6502, 32.015 , 26.5556, 24.4532,
       29.9332, 29.073 , 18.3124, 19.7052, 19.6048, 24.2468, 20.6432,
       26.4624, 26.046 , 32.0582, 23.6502, 26.7524, 20.8944, 22.0668,
       25.923 , 30.3554, 31.1378, 29.594 , 20.0632, 26.0728, 22.348 ,
       19.7052, 31.8432, 26.5568, 29.1554, 24.745 , 29.1442, 24.0142,
       22.6544, 26.9264, 27.2986, 29.9336, 28.2428, 22.9854, 25.5522,
       24.0582, 23.6244, 25.2868, 22.3792, 20.7594, 23.1782, 20.593 ,
       27.593 , 33.5716, 26.1862, 21.8912, 25.4704, 32.6634, 22.991 ,
       20.478 , 31.7492, 23.1474, 29.0416, 30.9738, 29.594 , 25.2118,
       28.4296, 23.799 , 22.6026, 22.958 , 30.4698, 21.9018, 23.8758,
       19.5138, 24.4802, 23.6576, 25.3476, 26.9018, 32.2742, 27.6034,
       31.0298, 21.6578, 28.1856, 30.2812, 23.9082])

In [136]:
# Get model efficincy score by testing Model with Test data X_test , y_test
knn.score(X_test,y_test)

0.5789871040385366

In [137]:
# Cross val score - Runs test for 10 times with different combinations of train and test data but in same ration of 70:30
cv_scores = cross_val_score(knn,X,y,cv=10)
max(cv_scores)

0.7563842121716744

In [138]:
# paramaters for gridSearch
params = {"n_neighbors":np.arange(1,10,1), "metric":["euclidean", "minkowski", "jaccard", "cosine"]}

In [139]:
# instantiating GridSearchCV model with knn model, params  and cv
# So knn model will be tested with (n_neighbors) 4  X 9 (metric) = 36 different combinations of model parameters
knn_gscv = GridSearchCV(estimator=knn, param_grid=params, cv = 10)

In [140]:
knn_gscv.fit(X,y)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_neighbors': array([1, 2, 3, 4, 5, 6, 7, 8, 9]), 'metric': ['euclidean', 'minkowski', 'jaccard', 'cosine']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [141]:
knn_gscv.best_score_

0.5234637590420743

In [142]:
knn_gscv.best_estimator_

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='euclidean',
          metric_params=None, n_jobs=None, n_neighbors=9, p=2,
          weights='uniform')

In [143]:
knn_gscv.best_params_

{'metric': 'euclidean', 'n_neighbors': 9}

In [144]:
knn_gscv.best_index_

8

In [145]:
# Scale the values so that model takes less time for omuputation
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [123]:
# To don want to scale weekend because it is categorical [0,1]. So scaling remaing columns.
weekend = X['weekend'].astype('int8')
X.drop('weekend',axis=1,inplace=True)

In [129]:
X = pd.DataFrame(scaler.fit_transform(X), columns = X.columns)
X.head()

   Temp(med)  Temp(min)  Temp(Max)  Rainfall(mm)
0   1.912508   2.281333   1.365781     -0.419062
1   1.824340   2.493924   1.597722     -0.419062
2   1.131590   1.749853   0.762735     -0.419062
3   0.867085   1.430966   0.461212     -0.322294
4   0.816703   1.253806   0.391630     -0.419062

In [130]:
# Adding back weeknd column
X['weekend'] = weekend
X.head()

   Temp(med)  Temp(min)  Temp(Max)  Rainfall(mm)  weekend
0   1.912508   2.281333   1.365781     -0.419062        0
1   1.824340   2.493924   1.597722     -0.419062        0
2   1.131590   1.749853   0.762735     -0.419062        1
3   0.867085   1.430966   0.461212     -0.322294        1
4   0.816703   1.253806   0.391630     -0.419062        0